body{
    background-color: #9da5a5;
    
    /* border: 2px solid red; */
    color:  #9da5a5;
}
#todo-form{
    width: 40%;
    padding: 50px;
    justify-content: center;
    padding: 15px;
    background-color: #263f3f;
    margin: auto;
    position: relative;

    top: 40px;
    border-radius: 10px;
}
h1{
    color: #316e6e;
    position: relative;
    left: 570px;
    top: 50px;
}
#todo-form>input{
    background-color: transparent;
    border: 2px solid  #9da5a5;
    color:  #9da5a5;
    width: 350px;
    height: 25px;
    border-radius: 5px;
    position: relative;
    left: 90px;
    top: 5px;
}
#todo-form>button{
    background-color: transparent;
    border: 2px solid  #9da5a5;
    width: 85px;
    height: 35px;
    color:  #9da5a5;
    position: relative;
    left: 220px;
    border-radius: 7px;
}
#todo-list{
    width: 30%;
    margin: auto;
    background-color:  #263f3f;
    position: relative;
    color:  #9da5a5;
    top: 50px;
    border-radius: 10px;
    padding: 80px;
    
}

/* #todo-list{
    text-align: center;
    
} */